In [1]:
import pandas as pd

In [2]:
df_problem = pd.read_csv('Datasets/problem 2.csv')
df_merged = pd.read_csv('../Common Datasets/merged_df.csv')

In [3]:
filtered_df = df_merged[df_merged['MAGIC_KEY'].isin(df_problem['MAGIC_KEY'])]

In [4]:
filtered_df

,PURCHASE_DATE,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE,PURCHASE
2,2019-02-01,2C15B86534E,99.0,1.0,Premium,Delivery from Collection Point,0.0,3.3,13.96,Y
5,2019-02-01,29D969045C2,238.0,1.0,Standard,Delivery from Collection Point,10.7,0.0,12.78,Y
8,2019-02-01,2A00DE30F46,204.0,1.0,Standard,Home Delivery - CoD,10.7,0.0,12.78,Y
43,2019-02-01,2C2CC83BB99,174.0,1.0,Premium,Delivery from Collection Point,18.0,2.9,23.98,Y
61,2019-02-01,2BE02E54CA0,108.0,1.0,Premium,Delivery from Collection Point,0.0,3.6,15.96,Y
...,...,...,...,...,...,...,...,...,...,...
2455569,2018-10-28,2BEC767D4A1,163.0,1.0,Premium,Delivery from Collection Point,11.0,2.2,23.98,N
2455627,2018-10-28,2BEA4C45A94,143.0,1.0,Premium,Delivery from Collection Point,16.0,1.8,19.98,N
2455628,2018-10-28,2BF66227CE9,143.0,1.0,Premium,Delivery from Collection Point,16.0,1.8,19.98,N
2455660,2018-10-28,2C026D65124,143.0,1.0,Premium,Delivery from Collection Point,16.0,1.8,19.98,N
2455672,2018-10-28,2C0E3E53ED0,137.0,1.0,Premium,Delivery from Collection Point,12.0,1.8,19.98,N

In [14]:
filtered_df.PURCHASE.value_counts()

PURCHASE
Y    108396
N     60154
Name: count, dtype: int64

In [6]:
df_problem

         MAGIC_KEY
0      2C0B5F97180
1      2C2F659EF00
2      29D629EDF20
3      2A7073E2FF0
4      2A9B9BE1210
...            ...
43513  2C49A3D7EAD
43514  2C49C75F0D8
43515  2C49CA2A632
43516  2C49D52753F
43517  2C49DF0ADB4

[43518 rows x 1 columns]