In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Common Datasets/test_df.csv')
df

,PURCHASE_DATE,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE
0,2019-02-01,2CED678A247,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
1,2019-02-01,2BF58D91BA1,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
2,2019-02-01,2C15B86534E,99.0,1.0,Premium,Delivery from Collection Point,0.0,3.3,13.96
3,2019-02-01,2C32D9A859A,6.0,1.0,Premium,Home Delivery - CoD,0.0,2.7,11.96
4,2019-02-01,2C7A55404D1,4.0,1.0,Premium,Home Delivery - CoD,0.0,2.5,11.96
...,...,...,...,...,...,...,...,...,...
587831,2019-02-28,29297E13B54,230.0,1.0,Standard,Delivery from Collection Point,8.4,0.0,10.14
587832,2019-02-28,290C724C608,230.0,1.0,Standard,Delivery from Collection Point,8.4,0.0,10.14
587833,2019-02-28,2CA058DD127,80.0,1.0,Premium,Delivery from Collection Point,0.0,2.9,11.96
587834,2019-02-28,2BD66E46EB5,77.0,1.0,Premium,Delivery from Collection Point,0.0,2.5,11.96
587835,2019-02-28,2C3ADAE8795,77.0,1.0,Premium,Delivery from Collection Point,0.0,2.5,11.96

In [3]:
df['PURCHASE_DATE'] = pd.to_datetime(df['PURCHASE_DATE'])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 587836 entries, 0 to 587835
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   PURCHASE_DATE    587836 non-null  datetime64[ns]
 1   MAGIC_KEY        587836 non-null  object
 2   BOX_ID           587836 non-null  float64
 3   BOX_COUNT        587836 non-null  float64
 4   QUALITY          587836 non-null  object
 5   DELIVERY_OPTION  587836 non-null  object
 6   MILK             587836 non-null  float64
 7   MEAT             587836 non-null  float64
 8   UNIT_PRICE       587836 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(3)
memory usage: 40.4+ MB

In [5]:
df = df[df['PURCHASE_DATE'].dt.day <= 15]
df = df[df['BOX_COUNT'] >= 1]
df

,PURCHASE_DATE,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE
0,2019-02-01,2CED678A247,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
1,2019-02-01,2BF58D91BA1,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
2,2019-02-01,2C15B86534E,99.0,1.0,Premium,Delivery from Collection Point,0.0,3.3,13.96
3,2019-02-01,2C32D9A859A,6.0,1.0,Premium,Home Delivery - CoD,0.0,2.7,11.96
4,2019-02-01,2C7A55404D1,4.0,1.0,Premium,Home Delivery - CoD,0.0,2.5,11.96
...,...,...,...,...,...,...,...,...,...
297051,2019-02-15,2C998B122B1,23.0,1.0,Premium,Home Delivery - CoD,0.0,2.4,13.96
297052,2019-02-15,2C1C22E43D5,80.0,1.0,Premium,Delivery from Collection Point,0.0,2.9,11.96
297053,2019-02-15,28FE30D9AF3,246.0,1.0,Standard,Delivery from Collection Point,0.0,2.5,13.96
297054,2019-02-15,28D27B1698C,213.0,1.0,Standard,Home Delivery - CoD,0.0,3.6,15.96
297055,2019-02-15,28DEFB84783,238.0,1.0,Standard,Delivery from Collection Point,10.7,0.0,12.78

In [6]:
df['MAGIC_KEY'].nunique()

294306

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 297056 entries, 0 to 297055
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   PURCHASE_DATE    297056 non-null  datetime64[ns]
 1   MAGIC_KEY        297056 non-null  object
 2   BOX_ID           297056 non-null  float64
 3   BOX_COUNT        297056 non-null  float64
 4   QUALITY          297056 non-null  object
 5   DELIVERY_OPTION  297056 non-null  object
 6   MILK             297056 non-null  float64
 7   MEAT             297056 non-null  float64
 8   UNIT_PRICE       297056 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(3)
memory usage: 22.7+ MB

In [8]:
test_df = df.groupby('MAGIC_KEY')['MEAT'].sum().reset_index()
test_df['MEAT'] = test_df['MEAT'].fillna(0)
test_df

          MAGIC_KEY  MEAT
0       249670911D8   0.0
1       2497E36D1BF   1.3
2       2498CA210F2   2.5
3       2498CF2157B   3.3
4       2499B9E0C1C   0.0
...             ...   ...
294301  2E6DC2E3260   0.0
294302  2E6EA6209A6   1.8
294303  2E6EC555AF6   2.2
294304  2E6F72C6F1C   1.5
294305  2E6FB0EBB32   2.2

[294306 rows x 2 columns]

In [9]:
df_train = pd.read_csv('../Common Datasets/train_df.csv')
df_train

,PURCHASE_DATE,MAGIC_KEY,BOX_ID,BOX_COUNT,QUALITY,DELIVERY_OPTION,MILK,MEAT,UNIT_PRICE
0,2019-01-01,2BE4ABE1D99,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98
1,2019-01-01,2BF0F5D1852,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98
2,2019-01-01,2CA3A78FEA9,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98
3,2019-01-01,2C2A89A5F22,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98
4,2019-01-01,2C586661A56,162.0,1.0,Premium,Delivery from Collection Point,10.0,2.2,23.98
...,...,...,...,...,...,...,...,...,...
1867929,2018-10-28,2BD992B5538,12.0,1.0,Premium,Home Delivery - CoD,8.0,1.5,12.98
1867930,2018-10-28,2C97CD72233,17.0,1.0,Premium,Home Delivery - CoD,10.0,1.8,12.98
1867931,2018-10-28,2C91C61D372,40.0,1.0,Premium,Home Delivery - CoD,12.0,1.8,19.98
1867932,2018-10-28,2CD70CFC4E3,51.0,1.0,Premium,Home Delivery - CoD,18.0,2.9,23.98
1867933,2018-10-28,2C4792A5B84,4.0,1.0,Premium,Home Delivery - CoD,0.0,2.5,11.96

In [10]:
train_df = df_train.groupby('MAGIC_KEY')['MEAT'].sum().reset_index()
train_df['MEAT'] = train_df['MEAT'].fillna(0)
train_df

           MAGIC_KEY  MEAT
0        249670911D8   2.4
1        249751FC4DD   1.8
2        24978027606   2.9
3        24979164422   2.5
4        2497B8B4FDA   5.4
...              ...   ...
1048941  2E6F53ECC13   1.6
1048942  2E6F6DAFFF3   8.8
1048943  2E6F72C6F1C   1.8
1048944  2E6F9C7B9B4   2.2
1048945  2E6FB0EBB32  10.6

[1048946 rows x 2 columns]

In [11]:
merged_df = pd.merge(test_df, train_df, on='MAGIC_KEY', how='inner')

In [12]:
len(merged_df)

182846

In [13]:
merged_df

          MAGIC_KEY  MEAT_x  MEAT_y
0       249670911D8     0.0     2.4
1       2497E36D1BF     1.3     2.2
2       2498CA210F2     2.5     2.5
3       249BD4201E6     4.0     3.6
4       249DA1DC108     3.6     3.6
...             ...     ...     ...
182841  2E6DC2E3260     0.0     0.0
182842  2E6EA6209A6     1.8     9.6
182843  2E6EC555AF6     2.2     7.6
182844  2E6F72C6F1C     1.5     1.8
182845  2E6FB0EBB32     2.2    10.6

[182846 rows x 3 columns]

In [14]:
test = merged_df[['MAGIC_KEY', 'MEAT_x']].copy()

In [15]:
test = test.rename(columns={'MEAT_x': 'MEAT'})

In [16]:
test

          MAGIC_KEY  MEAT
0       249670911D8   0.0
1       2497E36D1BF   1.3
2       2498CA210F2   2.5
3       249BD4201E6   4.0
4       249DA1DC108   3.6
...             ...   ...
182841  2E6DC2E3260   0.0
182842  2E6EA6209A6   1.8
182843  2E6EC555AF6   2.2
182844  2E6F72C6F1C   1.5
182845  2E6FB0EBB32   2.2

[182846 rows x 2 columns]

In [17]:
test.to_csv("test.csv", index=False)  # Save test data